* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.App {
    display: flex;
    flex-direction: row;
    min-height: 100vh;
    width: 100%;
    background: #151515;

    .link {
        font-weight: bold;
        color: rgb(255, 255, 255);
    }
}

.container {
    padding: 10px; // Reduz o padding geral
    padding-top: 60px; // Ajusta o padding-top para compensar o menu superior

    @media (max-width: 768px) {
        padding: 50px; // Reduz ainda mais o padding em dispositivos móveis
        padding-top: 50px; // Ajuste para dispositivos móveis
    }
}
.red{
    color: red;
}

.main-content {
    transition: margin-left 0.3s ease-in-out;
    width: 100%;
}

@media (max-width: 768px) {
    .main-content {
        margin-left: 0 !important;
    }
}

